# Application
NODE_ENV=production
PORT=3001
APP_NAME=P2A Career Module
APP_URL=http://localhost:3001

# Database Master (for Docker)
DB_MASTER_HOST=postgres-career-master
DB_MASTER_PORT=5432
DB_MASTER_USERNAME=p2a_career_user
DB_MASTER_PASSWORD=P2aCareer!2025
DB_MASTER_DATABASE=p2a_career

# Database Slave (for Docker)
DB_SLAVE_HOST=postgres-career-slave
DB_SLAVE_PORT=5432
DB_SLAVE_USERNAME=p2a_career_user
DB_SLAVE_PASSWORD=P2aCareer!2025
DB_SLAVE_DATABASE=p2a_career

# TypeORM
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Redis
REDIS_HOST=localhost
REDIS_PORT=6479
REDIS_PASSWORD=redis

# gRPC - Core System Connection
GRPC_CORE_SYSTEM_URL=p2a-core-system:50051
# CORS
CORS_ORIGIN=http://10.220.19.210:3000,http://localhost:3001,http://10.220.19.17:3000

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# Timezone (Always UTC)
TZ=UTC

